@import "@/assets/style/base"

.list-template-main
  display: grid
  padding: 1rem 0

.el-card
  margin: 0.5rem
  border: 0

.el-image
  height: 12rem

.loading-container
  width: 100%
  display: flex
  justify-content: center
  margin-top: 0.5rem

.list-template-loading
  background-image: url(~@/assets/gif/loading-blue.gif)
  background-size: 8rem 6rem
  height: 6rem
  width: 8rem

@media (min-width: $base-mobile-width)
  .list-template-main
    grid-template-columns: repeat(3, auto)
